{% extends 'layout.html.twig' %}
{% set active = 'homepage' %}

{% block content %}
    <h3>Ana Sayfa</h3>
    {% if is_granted('ROLE_USER') %}
        <h4>Hoşgeldiniz {{ app.security.token.username }}</h4><br />
        <a href="{{ path('logout') }}">{{ 'Çıkış yap'|trans }}</a>
    {% else %}
        Giriş yapmak için <a href="{{ path('login') }}">{{ 'tıklayın'|trans }}</a>
    {% endif %}
{% endblock %}
