{% extends 'layout.html.twig' %}
{% set active = 'login' %}

{% block content %}

    <h3>{{ 'Giriş'|trans }}</h3>

    {% if error %}
        <div class="alert alert-error">
            {{ error }}
        </div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post" novalidate {{ form_enctype(form) }} class="form-vertical">
        {{ form_widget(form) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'Giriş'|trans }}</button>
        </div>
    </form>

{% endblock %}

