{% extends 'layout.html.twig' %}
{% set active = 'user_tickets' %}
{% block content %}
    <h3>Tickets</h3>
    {% if tickets is not empty %}
        <form action="#" method="post" novalidate {{ form_enctype(form) }} class="form-horizontal">
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary" style="margin-left: 332px;">{{ 'Filtrele'|trans }}</button>
        </form>

        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Başlık</th>
                <th>Kategori</th>
                <th>Öncelik</th>
                <th>Eklenme Tarihi</th>
                <th>Durum</th>
                <th>İşlemler</th>
            </tr>

            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.title }}</td>
                    <td>{{ categories[ticket.category] }}</td>
                    <td>{{ priorities[ticket.priority] }}</td>
                    <td>{{ ticket.create_date|date('d.m.Y H:i') }}</td>
                    <td style="font-weight: bold;">{% if ticket.status == 2 %} <span style="color: green;">Çözüldü</span> {% else %} Açık {% endif %}</td>
                    <td>
                        <a class="btn btn-primary btn-small" href="{{ app.request.basepath }}/user/ticket/detail/{{ ticket.id }}" role="button">Detay</a>
                        {% if user.is_admin == 1 and ticket.status == 1 %}
                            <a class="btn btn-success btn-small" href="{{ app.request.basepath }}/user/ticket/solve/{{ ticket.id }}" role="button" style="margin-left: 5px;">Çöz</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h5>Ticket bulunamadı.</h5>
    {% endif %}
{% endblock %}
