{% extends 'layout.html.twig' %}
{% set active = 'users' %}
{% block content %}
    <div class="page-header">
        <h3>Kullanıcılar</h3>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>E-mail</th>
            <th>Kullanıcı Adı</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
